@use '../abstracts' as *;

.nav-backdrop {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 
    opacity $backdrop-transition-duration $backdrop-transition-effect,
    visibility $backdrop-transition-duration $backdrop-transition-effect;
  z-index: 99999;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }
}